<form id="frm_create_customer" name="customerCreateForm" novalidate>

    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
            <span>@L("CreateNewCustomer")</span>
        </h4>
    </div>
    <div class="modal-body">
        <div class="row clearfix">
            <div class="col-sm-12">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input id="customerno" type="text" name="customerno" ng-model="vm.customer.no" required maxlength="32" minlength="2" class="validate form-control">
                        <label for="customerno" class="form-label">@L("CustomerNo")</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-sm-12">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input id="customername" type="text" name="RoleName" ng-model="vm.customer.name" required maxlength="32" minlength="2" class="validate form-control">
                        <label for="customername" class="form-label">@L("CustomerName")</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-sm-12">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input id="phone" type="text" name="DisplayName" ng-model="vm.customer.phone" required maxlength="32" minlength="2" class="validate form-control">
                        <label for="phone" class="form-label">@L("Phone")</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="form-group form-float">
                    <div class="form-line">
                        <textarea id="address" name="address" ng-model="vm.customer.address" class="validate form-control"></textarea>
                        <label for="address" class="form-label">Address</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-sm-12">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input id="total" type="text" name="RoleName" ng-model="vm.customer.totalAmount" required maxlength="32" minlength="2" class="validate form-control">
                        <label for="total" class="form-label">@L("TotalAmount")</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" ng-click="vm.cancel()">
            @L("Cancel")
        </button>
        <button type="submit" class="btn btn-primary waves-effect" ng-click="vm.save()" ng-disabled="customerCreateForm.$invalid">
            @L("Save")
        </button>
    </div>

</form>